html {
    height: 100%;
}

body {
    height: 100%;
}

.main-container {
    display: block;
    height: 100%;
}

.page-1 {
    background-color: ghostwhite;
    background-image: url(/images/home_whiteKitchen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 100vh;
}

.page-2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {

    display: block;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #0d0d0d;
    color: white;
    padding: 5px 15px;
/*    text-transform: unset;*/
    font-size: 20px;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    text-decoration: none;
}

    .button:hover {
        text-decoration: none;
        background-color: #000;
        color: white;
    }

.preview {
    display: inline-block;
    background-color: ghostwhite;
    padding: 100px;
    box-shadow: #2b0f37 0px 1px;
    margin-top: 50px;
    height: 79vh;
    border-radius: 6px;
    border: 1px solid black;
    width: 30%;
    position: relative;
}

header {
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px;
}

